<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Users\Markenji\source\repos\Ludo4\logs\internal.log"
      internalLogLevel="Trace"
      throwConfigExceptions="true">

	<!-- Define targets -->
	<targets>
		<!-- Console target -->
		<target xsi:type="Console" name="console" layout="${longdate} ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" />

		<!-- File target -->
		<target xsi:type="File" name="file" fileName="D:\Ozy_Bootcamp_v2\Bootcamp_FLX_C-\Ludo43\logs\ludo_game.txt"
				layout="${longdate} ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}"
				archiveAboveSize="10485760"
				maxArchiveFiles="10" />
	</targets>

	<!-- Define rules to route log entries to targets -->
	<rules>
		<!-- Log everything to the console -->
		<logger name="*" minlevel="Trace" writeTo="console" />

		<!-- Log everything to the file -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!-- Log a custom message for success -->
		<logger name="SuccessLogger" levels="Info" writeTo="file">
			<filters>
				<when condition="contains('${message}','sukses')" action="Log" />
			</filters>
		</logger>

		<!-- Log a message when the game or program starts -->
		<logger name="StartLogger" levels="Info" writeTo="file">
			<filters>
				<when condition="contains('${message}','Game started') or contains('${message}','Program started')" action="Log" />
			</filters>
		</logger>
	</rules>
</nlog>
